.ubicacion{
    display: flex;
    height: 340px;
    width: 320px; 
}

.location{
    margin-top: 8px;
    height: 320px;
    width: 520px; 
}

.local{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    height: 30rem;
}

.local1{
    grid-area: 1 / 1 / 2 / 6; }

.local2{
    grid-area: 2 / 2 / 3 / 3; }

.local3{
    grid-area: 2 / 3 / 3 / 4; }

.local4{
    grid-area: 2 / 4 / 3 / 6; 
    margin-right: 3rem;
} 

.pedido{
    margin-top: 1rem;
    width: 30rem;
    height: 22rem;
}

.div1 { 
    grid-area: 1 / 1 / 2 / 6;
    justify-self: center;
    align-self: center;
}

.div2 {
    grid-area: 5 / 1 / 6 / 6;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.div3 {
    grid-area: 2 / 2 / 5 / 3;
    justify-self: center;
}

.div4 { 
    grid-area: 2 / 3 / 5 / 4; 
    justify-self: center;
    align-self: center;
}

.div5 { 
    grid-area: 2 / 4 / 5 / 5; 
    justify-self: center;
}

.div12{
    grid-area: 1 / 2 / 3 / 3;
    margin-top: 2rem;
}

.div13{
    grid-area: 1 / 3 / 3 / 4;
    margin-top: 2rem;
}

.div14{
    grid-area: 1 / 4 / 3 / 5;
    margin-top: 2rem;
}

.div15{
    grid-area: 3 / 1 / 4 / 6;
    justify-self: center;
    margin-top: 20rem;
}

.div10{
    display: flex;
    justify-content: center;
}