%flexboxLista{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: bolder;
    justify-content: center;
    list-style: none;
    margin-left: 25px;
    text-align: center;
    text-decoration: none;
}

@mixin images ($alto, $margen, $margenl, $ancho){
    height: $alto;
    margin-top: $margen;
    margin-left: $margenl;
    width: $ancho;
}

@mixin letras ($color, $fuente, $tama, $distancia, $alineacion, $negrita){
    color: $color;
    font-family: $fuente;
    font-size: $tama;
    line-height: $distancia;
    text-align: $alineacion;
    font-weight: $negrita;
}