$log-height: 70px;
$log-margin: 0.8rem;
$log-width: 200px;
$log-border: 4px;

$colores:(
    buscar: #a53114;
    #936697;
    #a9cfcf

);


$altos:(
    domicilio: 20px,
    instagram: 100px,
    facebook: 105,
    logo: 70px
);

$anchos:(
    domicilio: 20px,
    instagram: 95px,
    facebook: 100px,
    logo: 200px
);
